{% extends "base_generic.html" %}


{% block content %}
<br>
<a href="{% url 'index' %}">Back to Index</a>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
{% if form.errors %}<p> {{form.errors}}{%endif%}
<h1>Select Records For Payment </h1>
<form method="get" action="">
	{{filterform}}
	<input type="submit" value="Filter">
</form>
<form method="post" action="">
{% csrf_token %}
<input type = "checkbox" onClick="toggle(this,'table')">Select All
<table>
	<tr>
		<th>
			Select
		</th>
		<th>
			Record ID
		</th>
		<th>
			Username
		</th>
		<th>
			Date
		</th>
		<th>
			Time In
		</th>
		<th>
			Time Out
		</th>
		<th>
			Amount
		</th>
		<th>
			Paid?
		</th>

	</tr>
{% for record in form.table.field.queryset.all %}
<tr>
		<td>
			<label for="id_table_{{forloop.counter0}}">
				<input type="checkbox" name="table" value="{{record.record_id}}" id="id_table_{{forloop.counter0}}"> 
			</label>
		</td>
		<td>
			{{record.record_id}}
		</td>
		<td>
			{{record.username.actual_un}}
		</td>
		<td>
			{{record.date}}
		</td>
		<td>
			{{record.time_in|date:"h:i:s A"}}
		</td>
		<td>
			{{record.time_out|date:"h:i:s A"}}
		</td>
		<td>
			PHP{%if record.amount is None %} 0.00 {% else %} {{record.amount}}{%endif%}
		</td>
		<td>
			{{record.paid}}
		</td>
	</tr>
{%endfor%}
</table>
<input type="submit" value="Select For Payment">
</form>
{% endblock %}
